<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranlior.smartdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Activities -->
        <activity
            android:name="com.ranlior.smartdroid.activities.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.RuleActivity"
            android:label="@string/title_activity_rule"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.RuleEditorActivity"
            android:label="@string/title_activity_rule_editor"
            android:parentActivityName=".activities.RuleActivity"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleActivity" />

            <intent-filter>
                <action android:name="com.ranlior.smartdroid.ACTION_ADD_RULE" />

                <category android:name="com.ranlior.smartdroid.ACTION_EDIT_RULE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.TriggerSelectActivity"
            android:label="@string/title_activity_trigger_select"
            android:parentActivityName=".activities.RuleEditorActivity"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleEditorActivity" />
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.ActionSelectActivity"
            android:label="@string/title_activity_action_select"
            android:parentActivityName=".activities.RuleEditorActivity"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleEditorActivity" />
        </activity>

        <!-- Triggers Editors Activities -->
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.BatteryLevelTriggerEditorActivity"
            android:label="@string/title_activity_battery_level_trigger_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.BatteryPluggedTriggerEditorActivity"
            android:label="@string/title_activity_battery_plugged_trigger_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.BootCompletedTriggerEditorActivity"
            android:label="@string/title_activity_boot_completed_trigger_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.RingerModeTriggerEditorActivity"
            android:label="@string/title_activity_ringer_mode_trigger_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.LocationProximityTriggerEditorActivity"
            android:label="@string/title_activity_location_proximity_trigger_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.triggers.editors.WiredHeadsetPluggedTriggerEditorActivity"
            android:label="@string/title_activity_wired_headset_plugged_trigger_editor" >
        </activity>

        <!-- Actions Editors Activities -->
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.ChangeBluetoothStateActionEditorActivity"
            android:label="@string/title_activity_change_bluetooth_state_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.ChangeWIFIStateActionEditorActivity"
            android:label="@string/title_activity_change_wifistate_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.ModifyRingerModeActionEditorActivity"
            android:label="@string/title_activity_modify_ringer_mode_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.ModifyVolumeActionEditorActivity"
            android:label="@string/title_activity_modify_volume_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.NotificationActionEditorActivity"
            android:label="@string/title_activity_notification_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.SetWallpaperActionEditorActivity"
            android:label="@string/title_activity_set_wallpaper_action_editor" >
        </activity>
        <activity
            android:name="com.ranlior.smartdroid.activities.actions.editors.StartAppActionEditorAcivity"
            android:label="@string/title_activity_start_app_action_editor_acivity" >
        </activity>

        <!-- Services -->
        <service android:name="com.ranlior.smartdroid.services.SysEventHandleIntentService" />

        <!-- BroadcastReceivers -->
        <receiver android:name="com.ranlior.smartdroid.broadcastreceivers.SysEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
                <action android:name="android.intent.action.POWER_CONNECTED" />
                <action android:name="android.intent.action.POWER_DISCONNECTED" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <!-- FIXME: not invoked -->
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="com.ranlior.smartdroid.ACTION_LOCATION_PROXIMITY" />
            </intent-filter>
        </receiver>

        <!-- ContentProviders -->
        
    </application>

</manifest>